body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#1e5eff,#0c3aa9);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
display:flex;
width:850px;
background:white;
border-radius:10px;
overflow:hidden;
}

.left{
width:35%;
background:#1e5eff;
color:white;
padding:30px;
text-align:center;
}

.left h2{
margin-bottom:40px;
}

.role{
display:block;
width:100%;
padding:12px;
margin:10px 0;
border:none;
background:white;
color:#1e5eff;
font-weight:bold;
border-radius:5px;
cursor:pointer;
}

.right{
width:65%;
padding:30px;
}

.right label{
display:block;
margin-top:15px;
}

select,input{
width:100%;
padding:8px;
margin-top:5px;
}

.difficulty{
margin-top:10px;
}

.generate{
margin-top:20px;
width:100%;
padding:12px;
background:#1e5eff;
border:none;
color:white;
font-weight:bold;
border-radius:5px;
cursor:pointer;
}