/* ===== BODY ===== */
body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#483a99,#27183f,#923889);
color:white;
}

/* ===== NAVBAR ===== */
.topnav{
background:rgba(0,0,0,0.7);
padding:15px;
text-align:center;
}

.topnav a{
color:white;
margin:0 15px;
text-decoration:none;
font-size:18px;
font-size: 30px;
font-weight: 700;
text-decoration: none;
}

.topnav a:hover{
color:#00ffff;
}

/* ===== PAGE CONTENT ===== */
.page{
max-width:800px;
margin:80px auto;
background:rgba(0,0,0,0.4);
padding:30px;
border-radius:10px;
}

/* ===== FORM ===== */
.form{
display:flex;
flex-direction:column;
gap:15px;
}

.form input,
.form textarea{
padding:12px;
border:none;
border-radius:8px;
}

.form button{
background:#00ffff;
color:black;
padding:12px;
border:none;
border-radius:8px;
cursor:pointer;
}
 button{
        background:linear-gradient(135deg,#483a99,#27183f,#923889);
        color: white;
        cursor: pointer;
        transition: 0.3s;
        animation: name 0.4s ease-in 0.2s infinite;
        font-size: 20px;
          padding: 12px;
        margin: 10px 4px;
        border-radius: 8px;
        border: none;
        font-size: 16px;
      }
  button:hover {
        transform: scale(1.05);
      }
